body {
	background-image: url("images/door.jpg");
	background-size: cover;
	color: white;
}

header {
	text-align: center;
	font: 42px helvetica, sans-serif;
	color: white;
	background-color: black;
	padding: .3em;
}

nav {
	text-align: left;
	color: white;
	font-size: 12px;
	float: left;
}

a:hover { 
    background-color: black;
}

h1 {
	text-align: left;
	font-family: "courier new", monospace;
	font-size: 24px;
	color: white;
	padding-top: 20em
}

h2 {
	font-family: helvetica,sans-serif;
	color: white;
	font-size: 2em;
	text-decoration: none;
}

aside {
	text-align: right;
	font-family: "courier new", monospace;
	font-size: 26px;
}

#right {
    font: white;
    padding: 47px;
    float: right;   
    width: 25%;
    background-color: black;
    margin-top: 10%;
}

#left {
    padding: 20px;
    float: left;
    width: 40%;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: helvetica,sans-serif;
	font-size: 2em;
	text-decoration: none;
}

footer {
	text-align: center;
	font color: white;
}

@media only screen and (max-width: 800px)
{
	nav {
      float: none;
  }
  nav a {
      	margin: 0 1.6em .75em 0;
    }
  #right, #left {
    font-size: 1.4em;
    line-height: 1.8em;
  }
}

@media only screen and (max-width: 480px) {
  h1, nav {
    display: block;
    text-align: center;
  }
  nav a {
    margin: 0 1em 1em;
  }
  
   	.section, div {
    width: 100%;
    padding: .6em;
  }
  
	#right, #left {
    float: none;
    font-size: 1.4em;
}
    h2 {
    font-size: 1em;
    display: inline;
  }
    ul {
    margin: 1.8em .6em 0;
  }
    li {
    width: 80%;
      outline-width: .5em;
      padding: .5em;
    height: 2em;
    line-height: 2em;
  }
}
