body {
	text-align: center;
	background-image: url("footyfield.jpg");
	background-size: cover;
	font-family: helvetica;
	font-size: 32px;
	color: #e6b30e;
}
p {
	font-family: chelvetica
	font-style: italic;
	color: white;
	font-size: 16px;
	
}